.nav-bar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.nav-bar a {
  padding: 10px 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  /* border: 2px solid red; */
  text-align: center;
}

.nav-bar div::first-letter {
  text-transform: capitalize;
}

.nav-bar a:hover {
  background-color: white;
  color: black;
}

.nav-bar .user-link {
  justify-self: end;
  /* border: 2px solid red; */
}
